.header {
    position: absolute;
    z-index: 99;
    height: 9.5rem;
    width: 100%;
    display: flex;
    padding: 1rem 3rem;
    &__logo-box {
        img {
            height: 100%;
        }
    }
}