.navigation {
    height: 100%;
    width: 100%;
    &__list {
        height: 100%;
        width: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__search {
        height: 40px;
        width: 40px;
        cursor: pointer;
        margin: 0 2rem;
    }
    &__link {
        text-decoration: none;
        color: $color-white;
        margin: 0 1rem;
        padding: 1.5rem 2rem;
        font-size: 1.6rem;
        position: relative;
        white-space: nowrap;
        &::after {
            // Hover underline
            content: "";
            height: 2px;
            width: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #fff;
            transition: all .3s;
        }
        &:hover::after,
        &:focus::after {
            width: 100%;
        }
    }
}

.burger {
    &__checkbox,
    &__icon {
        display: none;
    }
}

@media only screen and(max-width:750px) {
    // navigation setup
    .navigation {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        padding: 2rem;
        height: 0;
        background-color: $color-dark-green;
        overflow: hidden;
        transition: all .5s;
        &__list {
            flex-direction: column;
            height: 100%;
            justify-content: center;
        }
        &__item {
            margin: 3rem;
        }
        &__link {
            width: 100%;
            padding: 1rem 2rem;
            margin: 2rem;
        }
    }
    .burger {
        &__icon {
            position: absolute;
            top: 15px;
            right: 20px;
            display: inline-block;
            cursor: pointer;
            z-index: 99;
            &--bar {
                background-color: #fff;
                height: 2px;
                width: 30px;
                margin: 6px 0;
                transition: all .4s;
            }
        }
        &__checkbox:checked~.navigation { // burger menu functionality
            height: 100vh;
            visibility: visible;
            opacity: 1;
        }
        &__checkbox:checked~&__icon {
            position: fixed;
            .burger__icon--bar {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 4px);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(7px, -6px);
                }
            }
        }
    }
}