.news {
    padding: 3rem 0;
    &__title {
        text-align: center;
    }
    &__wrapper {
        display: flex;
    }
    &__more-news-box {
        position: relative;
        height: 150px;
    }
    &__more-news {
        @include absCenter;
    }
}