.article {
    width: 270px;
    height: 550px;
    margin: .5rem;
    border: 1px solid $color-gray;
    &__img {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
    &__title {
        color: $color-dark-green;
    }
    &--wide {
        width: 330px;
        height: 400px;
        .article__img {
            height: 300px;
        }
    }
    &__social {
        background-color: $color-dark-green;
        padding: 3rem;
        display: flex;
        align-items: center;
        height: 145px;
        margin: .5rem;
        a {
            margin: 0 1rem;
        }
    }
}

@media only screen and(max-width: 1400px) {
    .article {
        width: 30%;
        &--double {
            width: 30%;
            margin: 0 .5rem;
        }
        &--wide {
            width: 100%;
            margin: .5rem 0;
            &__img {
                height: 100%;
                width: 100%;
            }
        }
        &__social {
            width: 100%;
            margin: 0;
        }
    }
}

@media only screen and(max-width: 900px) {
    .article {
        width: 48%;
        &--double {
            width: 48%;
        }
        &--wide {
            width: 100%;
        }
    }
}
@media only screen and(max-width: 670px) {
    .article {
        border: none;
        width: 100%;
        margin: 0;
        &__title {
            padding: 0 .5rem;
        }
        &--double {
            width: 100%;
            margin: 0;
        }
        &--double:last-child {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}