.newsletter {
    background-color: $color-dark-green;
    height: 400px;
    width: 310px;
    margin: .5rem .5rem;
    padding: 3rem;
    padding-top: 2rem;
    color: $color-light-text;
    
    &__title {
        color: $color-light-text;
    }
    .form__submit {
        margin-top: 3rem;
    }
}

@media only screen and(max-width: 1400px) {
    .newsletter {
        width: 100%;
        margin: .5rem 0;
    }
}