html {
    font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 4.5rem;
    margin: 1rem 0;
}

p {
    font-size: 1.6rem;
    margin: .5rem 0;
}